@font-face {
        font-family: Head-Font;
        src: url(LEVIBRUSH.ttf);
}

@font-face{
        font-family: Text-Font;
        src: url(RumRaisin-Regular.ttf);
}

header{
    font-size: 5em;
    font-family:Head-Font;
    text-align: center;
    padding-top: 15px;
}

#menu{
    background-color:darkslategray;
    text-align: center;
}

nav a{
    color: white;
    font-family: Text-Font;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a:hover{
    text-decoration: none;
    color:white;
    background-color:grey;
}

#active{
    background-color: limegreen;
    color:black;
}

article{
    font-family: Text-Font;
    font-size: 1.3em;
    font-weight: 400;
}



footer p{
    background-color: darkslategray;
    font-weight: 400;
    font-family: Text-Font;
    font-size: 1.3em;
    color: white;
    text-align: center;
    padding: 5px 5px;
}

img{
    width:100%;
    border-radius: 10%;
}

#foto{
    border-radius: 50%;
}

.hobiler{
    list-style-type:square
}

.filmler{
    list-style-type:square
}

@media only screen and (min-width: 1200px) {
  #table{
        border-left: 10px solid darkslategray;
        padding-right: 30px;
    }
}

.foto-yazisi {
    text-align: center;
}

fieldset{
    border: 2px solid;
}
